*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
  font-family: main-font;
}

body,
html {
  overflow-x: hidden !important;
}

@font-face {
  font-family: main-font;
  src: url(Fonts/Lato/Lato-Regular.ttf);
}
@keyframes header-bg {
  1% {
    background-color: #ffffff;
  }
  100% {
    background-color: #ffffff;
  }
}
header .header-info div .check-ticket__button + select, header .header-info div .check-ticket__button {
  color: #ffffff;
  background-color: #2841bf;
  text-align: center;
  padding: 14px 30px;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 600;
  border: none;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

header {
  padding: 30px 0px;
  background-color: transparent;
  position: fixed;
  top: 0;
  z-index: 9999;
  width: 100vw;
  animation: header-bg forwards;
  animation-timeline: scroll(y);
  animation-range: 130px;
}
header .header-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  row-gap: 20px;
  max-width: 85vw;
  margin: auto;
}
header .header-info .icons {
  align-items: center;
}
header .header-info .icons a:first-child {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: relative;
}
header .header-info .icons a:first-child::before {
  content: "Profile";
  display: none;
  background-color: #3f3f3f;
  color: white;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: -30px;
  left: -5px;
}
header .header-info .icons a:first-child:hover::before {
  display: block;
}
header .header-info .icons a:first-child.admin::before {
  content: "Admin";
}
header .header-info .icons a:first-child img {
  border: 2px solid black;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header .header-info .responsive-icon {
  display: none;
}
header .header-info div .check-ticket__button {
  margin-left: auto;
}
header .header-info div .check-ticket__button + select {
  padding: 10px;
}
header .header-info div .check-ticket__button::before {
  content: "";
  background-color: #2841bf;
  position: absolute;
  inset: 0;
  transform: scale(0, 1);
  transform-origin: center;
  transition: all 1s;
  z-index: -1;
  border-radius: 5px;
}
header .header-info div .check-ticket__button:hover {
  animation: opacity 1s;
}
header .header-info div .check-ticket__button:hover::before {
  transform: scale(1, 1);
}
header .header-info .burger-menu {
  display: none;
  width: -moz-fit-content;
  width: fit-content;
  flex-direction: column;
  gap: 3px;
}
header .header-info .burger-menu span {
  width: 25px;
  height: 5px;
  background-color: #2841bf;
  border-radius: 3px;
}
header .header-info .burger-menu.active + div {
  display: flex;
  gap: 10px;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  flex-direction: column;
  background-color: white;
  padding: 30px;
  justify-content: flex-start;
}
header .header-info .burger-menu.active + div + .closeBtn {
  display: flex;
  position: absolute;
  top: 10px;
  right: 10px;
}
header .header-info .closeBtn {
  display: none;
  font-size: 30px;
}

footer {
  margin-top: 100px;
  padding: 130px 0px 30px 0px;
  background-color: #f5f6fa;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
footer #logOut {
  background-color: #ffffff;
  cursor: pointer;
  position: relative;
  padding: 10px 30px;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
}
footer #logOut:hover::after {
  display: block;
}
footer #logOut img {
  width: 40px;
  height: 40px;
}
footer #logOut::after {
  content: attr(name);
  display: none;
  background-color: #3f3f3f;
  padding: 10px;
  color: #fff;
  position: absolute;
  top: -50px;
  left: 0px;
}
footer .footer-txt-div {
  max-width: 85vw;
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
footer .footer-txt-div p {
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
footer .footer-txt-div::before {
  content: "";
  width: 100%;
  border-bottom: 2px solid #ebebeb;
}
footer .footer-txt-div a {
  color: #4531f5;
}

@media screen and (max-width: 870px) {
  header .header-info .burger-menu + div {
    display: none;
  }
  header .header-info .burger-menu {
    display: flex;
  }
}
@media screen and (max-width: 590px) {
  .header-info img.desktop-icon {
    display: none;
  }
  .header-info img.responsive-icon {
    display: block;
    max-width: 60px;
  }
}/*# sourceMappingURL=HeaderFooter.css.map */