main {
  margin: auto;
  margin-top: 230px;
  padding: 20px;
  border-radius: 30px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  width: 90%;
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.08);
}

.userInfo {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: fit-content;
  text-align: center;
  background-color: #f2f2f2;
  box-shadow: 30px 30px 30px 30px rgba(0, 0, 0, 0.08);
  border-radius: 30px;
}

.userInfo h1 {
  font-size: 25px;
}

.userInfo p {
  padding: 5px;
}

.userAvatar {
  display: flex;
  flex-direction: column;
  gap: 20px;
  text-align: center;
}

.userAvatar img {
  border-radius: 50%;
}

.altPfps img.active {
  border: 3px solid black;
}

form input,
form select {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}

.userAvatar > img {
  margin: auto;
  width: 150px;
  height: 150px;
  background-color: aqua;
}

.user-info-wrapper {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  justify-content: center;
  gap: 100px;
}

.altPfps img {
  width: 50px;
  height: 50px;
  background-color: aqua;
  cursor: pointer;
}

.altPfps {
  flex-wrap: wrap;
  justify-content: center;
  display: flex;
  gap: 10px;
  margin: auto;
}

.userAvatar h1 {
  text-align: center;
  margin: auto;
}

.altPfps + p {
  transition: all 0.5s;
  padding: 10px;
  background-color: #2841bf;
  cursor: pointer;
  color: #fff;
  width: fit-content;
  margin: auto;
}

.changePasswordDiv {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.changePasswordDiv input {
  background-color: #eee;
  border: none;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  outline: none;
}

.changePasswordDiv button {
  background-color: #512da8;
  color: #fff;
  font-size: 12px;
  padding: 10px 5px;
  border: 1px solid transparent;
  border-radius: 8px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.5s;
}

main + a {
  margin: auto;
  margin-top: 40px;
  display: block;
  width: fit-content;
  text-align: center;
  transition: all 0.5s;
}

main + a:hover {
  font-size: 25px;
  color: black;
}

.altPfps + p:hover,
button:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}
